html 
{
     background-color: darkslategray;
    
}

img.center
{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 40%;
}

.footer
{
    bottom: 0px;
    position: fixed; 
    padding-left: .90in;
 
}

h1.header
{
     color: whitesmoke;
     font-family: Cambria;
     padding-left: 2.90in;
}

h2.topL
{
     color: whitesmoke;
     font-family: Cambria;
     font-size: 20px;
     text-align: left;
}

h2.topR
{
     color: whitesmoke;
     font-family: Cambria;
     font-size: 20px;
     text-align: right;
}

.sidebar 
{
    height: 100%;
    width: 2.67in;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #808080;
    overflow-x: hidden;
    padding-bottom: 20px;
}

a
{
    font-size: 25px;
    padding: 20px;
    border-block-end-color: black;
    color: white;
}

td, tr
{
     border: 1px Solid Black;
     color: whitesmoke;
}

td
{
     text-align: center;
     

}
table
{
     padding-left: 50px;
     padding-left: 2.9in;
}
