html{
    padding-left: 2.77in;
    color: whitesmoke;
}
table{
    width: 98%;
    border-collapse: collapse;
}
#rocketship{

}
.sidebar{
    height: 100%;
    width: 2.67in;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #808080;
    overflow-x: hidden;
    
}
.sidebar a:hover{
    color: black;
    
}
a{
    font-size: 25px;
    padding: 20px;
    border-block-end-color: black;
    color: white;
    font-family: Cambria; 
    border: 1pt, solid black;
}
.cord{
    right:0px;
}

.footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 2in;
    padding-right: 2in;
}

.red{
color: red;
background-color: red;
-moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.yellow{/*the last section is supposed to be repeated. It makes the text of color boxes unselectable (which happens when 
    clicking fast). It is not inheritable, so do not try and condense*/
    color: yellow;
    background-color: yellow;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}
.green{/*see above*/
    color: green;
    background-color: green;
    -moz-user-select: -moz-none;
   -khtml-user-select: none;
   -webkit-user-select: none;
   -ms-user-select: none;
   user-select: none;
}

#coord{
  text-align: right;
}
html{
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.table tr td,.table {
    border: 1pt solid black;
    border-collapse: collapse;
    
}
button{
    padding: 5px;
    margin-left: 15px;
}
.test, .test2{
    border: 1px solid black;
    background-color: rgb(29, 29, 228);
    text-align: center;
    
}

.days, .days2{
    background-color: white;
    text-align: center; 
    color: Black;   
}
.head{
    background-color: khaki;
    color: black;
    text-align: center;
    min-width: 28ch;
   
}
p{
    padding-top: 2px;
}
.last{
    text-align: center;
    background-color: whitesmoke;
    color: black;
    width: 50%;
    
}
th, tr, table{
    border: 1pt solid black;
}
.coursetable
{
    object-position: center;
    border: 1pt solid black;
}
.php
{
    border-collapse: collapse;

    padding-bottom: 1in;
}