.red{
color: red;
background-color: red;
}
.yellow{
    color: yellow;
    background-color: yellow;
}
.green{
    color: green;
    background-color: green;
}

#coord{
  text-align: right;
}
html{
    background-color: darkslategray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.table tr td,.table {
    border: 1pt solid black;
    border-collapse: collapse;
}
button{
    padding: 5px;
    margin-left: 15px;
}
