body
{
    font-family: "Cambria"
}       
html
{
    padding-left: 2.67in;
}
body
{
    background-color:rgb(68, 65, 65);
    color:linen;
}
.sidebar 
{
    height: 100%;
    width: 2.67in;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #808080;
    overflow-x: hidden;
    
}
a
{
    font-size: 25px;
    padding: 20px;
    border-block-end-color: black;
    color: white;
    font-family: Cambria; 
}
h1, h2 
{
    padding-left: 25px;
    font-family: Cambria;
    color: whitesmoke;
}
.sidebar a:hover
{
    color: black;
}
.Instructions
{
    position: fixed;
    top: 0;
    right: 0;
    height: 200px;
    width: 415px;
    border: 2px solid #73AD21;
}
.footer
{ 
 position: fixed;
 bottom: 0px;

}
.SAname
{
    padding-bottom: .5in;    
}


.question, .returning
{
    text-align: right;
    padding-right: 15px;
    font-size: 20px;
}
.answer
{
    text-align: center;
}
input[type=number]
{
    width: 80px;
} 
.box
{
    text-align: left;
    width: 18px
}
.size
{
    font-size: 20px;
    text-align: center;
}
.size1
{
    font-size: 20px;
}
