html
{
    padding-left: 2.67in;
}
body
{
    background-color:rgb(68, 65, 65);
    color:linen;
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: "Cambria"
}
.sidebar 
{
    height: 100%;
    width: 2.67in;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #808080;
    overflow-x: hidden;
    
}
a
{
    font-size: 25px;
    padding: 20px;
    border-block-end-color: black;
    color: white;
    font-family: Cambria; 
}
h1, h2 
{
    padding-left: 25px;
    font-family: Cambria;
    color: whitesmoke;
}


.intro
{
    border: 2pt solid yellow;
    font-size: 14pt;
    margin: 10px;
    padding-left: 5px;
    width: 60%;
}
.class{
    width: 100%;
    padding-left: 5pt;
    padding-bottom: 10pt;`
    }
    .hours
    {
        width:90%;
        padding: 10px; 
        border: 2pt solid green;   
    }
    .to
    {
        text-align: center;
        padding-left: 20px;
        padding-right: 20px;
    }
    .size
    {
        font-size: 12pt;
        text-align: left;
        padding-left: 8pt;
    }
    .status
    {
        width: 60%;
        text-align: center;
        Border: 2pt solid orange;
        padding: 10pt;
    }
    .legend
    {
        width:100%;
        text-align: center;
        color: black; 
        border: 2pt solid white;
        padding: 5pt; 
    }
    .button
    {
        margin-left: 10pt; 
        width: 2in;
        height: .6in;
        font-size: 15pt;
    }
    .dash
    {
        padding-left:20px;
        padding-right: 20px;
        font-size: 14pt;
        color: white;
        text-align: center;
    }
    .text
    {
        text-align: left;
        color: white;
    }
    .preferred
    {
        background-color: green;
    }
    .available
    {
        background-color: yellow;
    }
    .busy
    {
        background-color: red;
    }
    .red{
        color: red;
        background-color: red;
    }
    .yellow{/*the last section is supposed to be repeated. It makes the text of color boxes unselectable (which happens when 
        clicking fast). It is not inheritable, so do not try and condense*/
        color: yellow;
        background-color: yellow;
    }
    .green{/*see above*/
        color: green;
        background-color: green;
    }
.sidebar a:hover
{
    color: black;
}
input[type=number]
{
    width: 80px;
} 
.box
{
    text-align: left;
}
.footer
{
    position: fixed;
    bottom: 0;
    left: 0;
    padding-left: 2in;
    padding-right: 2in;
}
.red{
    color: red;
    background-color: red;
    -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
    }
    .yellow{/*the last section is supposed to be repeated. It makes the text of color boxes unselectable (which happens when 
        clicking fast). It is not inheritable, so do not try and condense*/
        color: yellow;
        background-color: yellow;
        -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
    }
    .green{/*see above*/
        color: green;
        background-color: green;
        -moz-user-select: -moz-none;
       -khtml-user-select: none;
       -webkit-user-select: none;
       -ms-user-select: none;
       user-select: none;
    }
    .chart
    {
        width: 100%;
        border: 1pt solid black;
    }
    .MWFtable{
        display: inline-block;
    }
    .TRtable{
       display: inline-block;
       padding-bottom: .7in;  
    }
    .days{
        background-color: blue;
        width:30%
    }
    .test
    {
        padding-left: .5in;
        padding-right: .5in;
        text-align: center;
        border: 1pt solid black;
        color: black;
        background-color: white;
        font-size: 13pt;
    }
    .bottom{
        padding: 1in;
    }